
 <!DOCTYPE html>
 <html lang="en" >
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>CEC Group - 2</title>
     <link rel="stylesheet" href="home.css">
 </head>
 
 <body>
    <section class="table__header">
        <nav>
           
            <div class="logo"><strong>Cloud & Edge Computing</strong></div>
            
            <ul class="links">
                <li><a href="home.html">About Us</a></li>
              <li><a href="index.html">Data</a></li>
              <li><a href="#contact">Login</a></li>
            </ul>
           
            
          </nav>
     </section>
       <br>
     <section class="table__heade">
        <div class="logos"><strong>Group members:</strong></div>
        
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Name </span></th>
                        <th> Roll Number</span></th>
                        
                    </tr>
                </thead>
                <tbody id="data-output">
                    <tr>
                        <td> Piyush Kumar  </td>
                        <td> MWC2020008</td> 
                    </tr>
                    <tr>
                        <td> Akash Biswas </td>
                        <td> IIT2020001</td> 
                    </tr>
                    <tr>
                        <td> Avishkar Singh </td>
                        <td>  IIT2020008</td> 
                    </tr>
                    <tr>
                        <td>Nikhil Dubey  </td>
                        <td> IIT2020016</td> 
                    </tr>
                    <tr>
                        <td>Anuj Chaturvedi  </td>
                        <td>IIT2020019</td> 
                    </tr>
                    <tr>
                        <td> Saptarishee Lashkar </td>
                        <td> IIT2020110</td> 
                    </tr>
                    <tr>
                        <td> Kavita Thory </td>
                        <td> IIT2020252</td> 
                    </tr>
                    
                </tbody>
            </table>
        </section> 
        
        <div class="logos"><strong>Problem Statement: </strong></div>
        <br>
        <h1 >Sending Data from Sensor Node to Cloud via Wingz Gateway.</h1>
       
        
        
     </section>


   
 </body>
 
 </html>